
body{
   
    transition: all 300ms;

}
.menu{
    position: absolute;
    top:50px;
    right: 50px;
    height: 100px;
    width: 100px;
    background-color: #E94957;
    border-radius: 100px;
    display: flex;
    border: 0px;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    z-index: 2;
    box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(1, 61, 11, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(2, 58, 23, 0.15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 8px,#007157  0 16px 40px;
  }
  .menu:hover{
    border-radius: 100px;
    box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(255, 3, 45, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(255, 0, 0, 0.541) 0 16px 32px;
    transform: scale(1.02) rotate(-1deg);
    transition: all 300ms;
  }

/*--------------- dark/light mode ----------*/

.colortheme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;   
    
    
}
.colortheme button{
    background-color: black;
    width:10vh;
    height: 3vh;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    display: flex;
    transition: all 300ms;
    align-items: center;
}

.colortheme button div{
    background-color: #EDF2F4;
    width: 2vh;
    height: 2vh;
    border: none;
    border-radius: 100px;
    transition: all 300ms;
}
  
.active-btn-color{
    background-color: white !important;
    transition: all 300ms;
}
.active-btn-colordiv{
    background-color: rgb(0, 0, 0)!important;
    transform: translate(300%,0);
    transition: all 300ms;
}

/* ----------------------------------------- header overlay */
  header{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: center;
    position: -webkit-sticky;
  position: fixed;
    top: 0;
   
}
header a{
    text-decoration: none;
    color: #EDF2F4;
}

.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Khula', sans-serif; font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #007157;
    transform: translate(-100%,0);
    animation-name: fromLeft;
    animation-duration: 999ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    width: 50%;
    opacity: .97;
    height: 100%;
    color: #EDF2F4;
    transition: all 250ms;
}
@keyframes fromLeft{
    0%{
        
    }
    100%{
        transform: translate(0,0);
    }
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Khula', sans-serif; font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #E94957;
    width: 50%;
    transform: translate(100%,0);
    height: 100%;
    color: #EDF2F4;
    opacity: .97;
    animation-name: fromRight;
    animation-duration: 888ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 333ms;
    transition: all 250ms;
}
@keyframes fromRight{
    0%{
        
    }
    100%{
        transform: translate(0,0);
    }
}
.header-right:hover{
    opacity: 1;
    transition: all 250ms;
}
.header-left:hover{
    opacity: 1;
    transition: all 250ms;
}
.close-header
{
    display: none;
  
    
}
header .text-container{
    color: white;
    font-size: 100px;
    font-family: 'Khula', sans-serif; font-family: 'Montserrat', sans-serif;
    text-align: center;


}
.text-container hr{
    border: 2px solid white;
    margin-top: 100px;

}
.text-container hr + hr{
    width: 33%;
}
header .text-container p + p{
    font-size: 80px;
}

/* ------------------ MAIN CODE - GALLERY ------------- */
.wrapper-gallery{
    margin: 5vw 10vw;
}
.index-gallery-hidden{
    pointer-events: none;
}
.index-gallery-shown{
    pointer-events: all;
}
/* main container*/
#index-gallery{
    
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20vw;
    column-gap: 20px;
    grid-template-areas: 
    "img1 img1"
    "img1 img1"
    "img1 img1"

    "img4 img4"
    "img4 img4"
    "img4 img4"
    
    "img3 img3"
    "img3 img3"
    "img3 img3"
    
    "img2 img2"
    "img2 img2"
    "img2 img2" 

    "img6 img6" 
    "img6 img6"
    "img6 img6"

    "img8 img8"
    "img8 img8"
    "img8 img8"
    
    "img7 img7"
    "img7 img7"
    "img7 img7"
    
    "img9 img9"
    "img9 img9"
    "img9 img9"

    "img5 img5"
    "img5 img5"
    "img5 img5"

    "img10 img10"
    "img10 img10"
    "img10 img10"

    "img11 img11"
    "img11 img11"
    "img11 img11"

    "img12 img12"
    "img12 img12"
    "img12 img12"

    "img13 img13"
    "img13 img13"
    "img13 img13"

    "img14 img14"
    "img14 img14"
    "img14 img14"

    "img15 img15"
    "img15 img15"
    "img15 img15"

    "img16 img16"
    "img16 img16"
    "img16 img16"
    "img17 img17"
    "img17 img17"
    "img17 img17"
    ;
    
}

/* style dla każdego kafelka*/
#index-gallery .galerry{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;

}

.galerry div{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

.galerry div a{
    font-family: 'Khula', sans-serif; font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.galerry div:hover{
    opacity: .8;
    transition: all 250ms ease-in-out;
}







#index-gallery .img1{
    background-image:url('zdj1.jpg');
    grid-area: img1;
    height: 790px;
    
   
}
#index-gallery .img2{
    background-image:url('kurtka6.JPG');
    grid-area: img2;
    height: 790px;
    
}
#index-gallery .img3{
    background-image:url('kurtka1.jpg');
    grid-area: img3;
    height: 790px;
}
#index-gallery .img4{
    background-image:url('moja_kurtka.jpg');
    grid-area: img4;
    height: 790px;
    
}
#index-gallery .img5{
    background-image:url('kurtka12.jpg');
    height: 790px;
    grid-area: img5;
}
#index-gallery .img6{
    background-image:url('kurtka10.jpg');
    grid-area: img6;
    height: 790px;
    
}
#index-gallery .img7{
    background-image:url('kurtka11.png');
    grid-area: img7;
    height: 790px;
  
}
#index-gallery .img8{
    background-image:url('kurtka11_1.jpg');
    grid-area: img8;
    height: 790px;
   
}
#index-gallery .img9{
    background-image:url('kurtka11_2.jpg');
    grid-area: img9;
    height: 790px;
}
#index-gallery .img10{
    background-image:url('kurtka14.jpg');
    grid-area: img10;
    height: 790px;
} 
#index-gallery .img11{
    background-image:url('kurtka5.jpg');
    grid-area: img11;
    height: 790px;
} 
/* buty */

#index-gallery .img12{
    background-image:url('buty2.jpg');
    grid-area: img12;
    height: 790px;
} 
#index-gallery .img13{
    background-image:url('buty1.jpg');
    grid-area: img13;
    height: 790px;
} 
#index-gallery .img14{
    background-image:url('buty3.jpg');
    grid-area: img14;
    height: 790px;
} 

#index-gallery .img15{
    background-image:url('buty4.jpg');
    grid-area: img15;
    height: 790px;
} 
#index-gallery .img16{
    background-image:url('buty5.jpg');
    grid-area: img16;
    height: 790px;
} 
#index-gallery .img17{
    background-image:url('buty6.jpg');
    grid-area: img17;
    height: 790px;
} 

 /*----------------nav-----------*/
 .sidebar{
    display: flex;
    font-family: 'Khula', sans-serif; font-family: 'Montserrat', sans-serif;
    align-items: center;
    transform: translate(-100%,0);
    opacity: 98%;
    width: 100%;
    height:100%;
    position: -webkit-sticky;
  position: fixed;
    top: 0;
    left: 0;
    background-color: #E94957;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.4s linear;
    
    

  }
  /* .sidebar .hr-sidebar{

    color:#EDF2F4 ;
    border: 2px solid;
    width:100%;
    transition: all 0.4s linear;
    }
    .hr-sidebar:hover{
    width: 200%;
    transition: all 0.4s linear;
  } */
  .show-sidebar{
    transform: translate(0,0);
    transition: all 0.5s linear;
  }
  /* @media screen and (min-width:676px){
    .sidebar{
      width: 300px;
    }
  } */
  
  /*btns*/
 
 .close-btn{
  position: absolute;
  top:50px;
  right: 50px;
  height: 100px;
  width: 100px;
  background-color: #EDF2F4;
  border-radius: 100px;
  box-shadow: 0 10px 50px -1px #5c36e9;
  border: 0px;
   
 }

  .sidebar ul li{
    padding: 60px;
    border-bottom: 2px solid #EDF2F4;
    
    text-align: center;
    transition: all 350ms;
  }
  
  
  .sidebar ul a li{
    color: white;
  font-size: 50px;
  
  text-decoration: none;
  
  }
  .sidebar ul{
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    }
a{
    text-decoration: none;
}













@media screen and (min-width:980px){
body{
    background-color: rgb(255, 255, 255);
    margin: 0; 
}

/* ------------------ header overlay ------------- */

.header-left{

    font-size: 100px;
}
.header-right{

    font-size: 100px;
}
#index-gallery{
    
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 20vw;
    column-gap: 20px;
    grid-template-areas: 
    "img1 img1 img4 img4"
    "img1 img1 img4 img4"
    "img1 img1 img4 img4"

    "img3 img2 img2 img6"
    "img3 img2 img2 img6"
    "img3 img2 img2 img6"

    "img8 img7 img7 img9"
    "img8 img7 img7 img9"
    "img8 img7 img7 img9"

    "img5 img10 img10 img11"
    "img5 img10 img10 img11"
    "img5 img10 img10 img11"
    
    "img12 img13 img13 img14"
    "img12 img13 img13 img14"
    "img12 img13 img13 img14"

    "img15 img16 img16 img17"
    "img15 img16 img16 img17"
    "img15 img16 img16 img17";
    
} 

 
.sidebar ul li:hover{
    background-color: #ec6570;
    width: 200%;
    transition: all 666ms;
    transform: scale(1.02);
    
  }
    
  .menu{
      z-index: 1;
  }
  
  .colortheme {
    
    margin-top: 30px;
    
}
.colortheme button{
    background-color: black;
    width:15vh;
    height: 5vh;
   
}

.colortheme button div{
    background-color: #EDF2F4;
    width: 4vh;
    height: 4vh;
 
}
.active-btn-colordiv{
    
    transform: translate(250%,0);
    
}


}
