/*nav ol li {
    display: inline-block;
  
    margin: 10px;
  }
  nav ol li a{
    display: inline-block;
  text-decoration: none;
  color:white;
  }
  nav {
    background-color: #E63946
    width: 100%;
    color: white;
    justify-content: center;
    display: flex;
    font-size: 30px;
    height: 100px;
    position: absolute;
    top: 0;
  }*/
  .menu{
    position: absolute;
    top:50px;
    right: 50px;
    height: 100px;
    width: 100px;
    background-color: #E94957;
    border-radius: 100px;
    display: flex;
    border: 0px;
    justify-content: center;
    align-items: center;
    opacity: 100%;
  
    box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(1, 61, 11, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(2, 58, 23, 0.15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 8px,#007157  0 16px 40px;
  }
  .menu:hover{
    border-radius: 100px;
    box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(255, 3, 45, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(255, 0, 0, 0.541) 0 16px 32px;
    transform: scale(1.02) rotate(-1deg);
    transition: all 300ms;
  }
 







  /* sidebar*/
  
  /* .cala_nawigacja{
    display: flex;
    width: 50%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E94957;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
  } */
  .sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0,-100%);
    opacity: 98%;
    width: 100%;
    height:100%;
    position: -webkit-sticky;
  position: fixed;
    top: 0;
    left: 0;
    background-color: #E94957;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.4s linear;
    
    

  }
  .show-sidebar{
    transform: translate(0,0);
    transition: all 0.5s linear;
  }
  /* @media screen and (min-width:676px){
    .sidebar{
      width: 300px;
    }
  } */
  
  /*btns*/
 
 .close-btn{
  position: absolute;
  top:50px;
  right: 50px;
  height: 100px;
  width: 100px;
  background-color: #EDF2F4;
  border-radius: 100px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  opacity: 100%;
  box-shadow: 0 10px 50px -1px #5c36e9;
  border: 0px;
   
 }
 /*btns*/
 
  
  .sidebar-header p{
    
    margin: 10px;
    color: white;
  font-size: 40px;
  display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(270deg);
    left: -90px;
    position: relative;
  }
  .sidebar ul li{
    padding: 40px;
    width:  100%;
    text-align: center;
    
  }
  
  .sidebar ul li:hover{
    background-color: #ec6570;
  }
  .sidebar ul li a{
    color: white;
  font-size: 50px;
  padding: 25px;
  text-decoration: none;
  
  }
  .sidebar ul{
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    margin: 20px;
    
   
    }
    
  /* sidebar*/
/* .pasek {
    width: 40px;
    height:40px;
    border-radius: 8px;
    transform: rotate(45deg);
    background-color: #EDF3F6;
  }
   */
  /* .pasek:hover {
    transform: scale(1.05);
    transform: rotate(90deg);
    transition: all 250ms;
    box-shadow: 0 0 1em rgb(253, 0, 177);
    
    
  } */
  /* stary pasek nawigacji */
  .page1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(' 2.jpg');
    
  }
  .logo{
    width: 500px;
    height: 500px;
    border-radius: 300px;
    transition: all 250ms;
    background-image: url('LOGO5.png');
    position: absolute;
    top: 120px;
    justify-content: center;
    transform-style: preserve-3d;
    box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(255, 3, 45, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(255, 0, 0, 0.541) 0 16px 32px;
    display: flex;
   
    
    
  }
  /* .logo img:hover{
    box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(1, 61, 11, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(2, 58, 23, 0.15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 8px,#007157  0 16px 40px;
    transform: scale(1.07) rotate(-1deg);
    transition: all 300ms;
    border-radius: 300px;
  } */
  
 
  .page1 img{
      width: 100%;
      
  }
  .buttons {
    height: 30px;
    width: 250px;
    background-color: #E94957;
    border-radius: 100px;
    padding: 30px;
    box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(1, 61, 11, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(2, 58, 23, 0.15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,#007157  0 16px 32px;
    font-size: 30px;
    color: #EDF2F4;
    cursor: pointer;
    transition: all 250ms;
    display: inline-block;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;

  }
  .przyciski {
    width: 100%;
    position: absolute;
    top: 750px;
    display: flex;
    justify-content: center;
  
  }
  .buttons:hover {
    box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(255, 3, 45, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(255, 0, 0, 0.541) 0 16px 32px;
    transform: scale(1.02) rotate(-1deg);
  }
  
  /*-------------------------------PAGE2----------------------*/



 .page2{
     
     display: flex;
    background-color:  #f1eee4 ;
     font-size: 30px;
     
     scroll-snap-align: start;
     height: 100vh;
    
 }
 .art1{
     padding: 30px;
     height: 33vh;
     word-spacing: 12px;
     background-color: #E94957;
     font-family: 'Khula', sans-serif; font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
     
     color:  #EDF2F4;
     text-align: center;
     
 }
 a{
   text-decoration: none;
   color: inherit;
 }
 .art1:hover{
  box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(255, 3, 45, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(255, 0, 0, 0.541) 0 16px 32px;
  transition: all 250ms;
 }
 .art1 .art1-header{
  font-size: 50px;
 }
 .art1 .art1-text{
  font-size: 30px;
 }
 .art1 .art1-btn{
padding: 30px ;
font-size: 30px;
word-spacing: 12px;
background-color: #f75f6c;
font-family: 'Khula', sans-serif;
font-family: 'Montserrat', sans-serif;
color:  #EDF2F4;
border: 0px;
box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(255, 3, 45, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(255, 0, 0, 0.541) 0 16px 32px;

 }
 .art1 .art1-btn:hover{
box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(255, 3, 45, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(119, 0, 0, 0.541) 0 16px 32px;
   
 }
 /* .art1 div{     
   display: flex;
  letter-spacing: 6px;
  text-align: center;
  justify-content: ce;
  font-size: 50px;
  margin: 0;
  padding: 25px;
  box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(255, 3, 45, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(255, 0, 0, 0.541) 0 16px 32px;
 }
 .art1 div:hover{
   transition: all 250ms;
  
  box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(255, 3, 45, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(15, 7, 131, 0.541) 0 16px 32px;
 } */
 /* wczesniej o byl przycisk do zlozenia zamowienia z napisu TWOJEGO PROJEKTUI */
 
 .expand{
    
    width: 100%;
    background-color:#007157;
    transition: all 1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#007157;
 }
 
 .expand-active{
  
  width: 10%;
  background-color:#007157;
  transition: all 1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
 }
 .expanded-content ul{
  color: #E94957;
  font-family: 'Khula', sans-serif; font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
 
  list-style-type: none;

 }
 .expanded-content ul li{
  padding: 30px;
  border-bottom: 2px solid #E94957;
  background-color: #E94957;
  color:#f1eee4 ;
 
  text-align: center;
  margin: 40px;
  transition: all 300ms;
  
 }
 .expanded-content ul li:hover{
  box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(255, 3, 45, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(255, 0, 0, 0.541) 0 16px 32px;
  border: 0px;
  transition: all 300ms;
 }
 
 .expand p{
  margin: 0px;
  display: inline;
  color: #EDF2F4;
  font-family: 'Khula', sans-serif; font-family: 'Montserrat', sans-serif;
  transition: all 0.2s linear;
}
.active-p{
  transform:rotate(90deg);
  transition: all 0.2s linear;
}
.expand:hover{
  transition: all 250ms .1s;
  cursor: pointer;
  box-shadow: rgba(255, 0, 0, 0.2) 0 -25px 18px -14px inset,rgba(1, 61, 11, 0.781) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(2, 58, 23, 0.15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,#041c15  0 16px 32px;
 }
 .tekst{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   
 }
.container{
  display: flex;
  height: 678px;
  width: 100%;
}

.expanded-content{
  
  font-size: 30px;
  transform: translate(-500%);
  width: 100%;
  
}

.expanded-content-active{
  opacity: 100%;
  
  transform: translate(0%);
  width: 100%;
   height: 100%;
}
.baner1{
  height: 678px;
}

.art3{
  
    padding: 30px;
    height: 100px;
    width:100%;
    
    background-color: #E94957;
    font-family: 'Khula', sans-serif;

    font-family: 'Montserrat', sans-serif;
    color:  #EDF2F4;
    
    font-size: 40px;
    

}



.main{
  scroll-snap-type: y mandatory;
  overflow-x: scroll;
}
.scroll{
  scroll-snap-align: start;
}


body{
    margin: 0px;
    background:#007157;
    
}
html{
  scroll-behavior: smooth;
}
/* modal in style-modal.css*/



/* .button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
} */
